.totelIcon,
.unionIcon {
  position: relative;
  width: 20.18px;
  height: 28px;
}
.totelIcon {
  width: 51.15px;
  height: 16.5px;
}
.companyLogo {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.placeholderIcon {
  position: relative;
  width: 18px;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.text {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.button,
.button1 {
  text-decoration: none;
  border-radius: 100px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 10px 16px;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.button {
  background-color: #f9f8fb;
  color: #574efa;
}
.button1 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: inherit;
}
.chevronDownIcon {
  position: relative;
  width: 20px;
  height: 20px;
}
.button2 {
  text-decoration: none;
  border-radius: 100px;
  overflow: hidden;
  padding: 10px 16px;
  justify-content: center;
  gap: 6px;
  color: inherit;
}
.button2,
.textInput,
.textInputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.textInput {
  justify-content: flex-start;
  gap: 12px;
}
.textInputContainer {
  justify-content: space-between;
}
.statusIcon {
  position: absolute;
  margin: 0 !important;
  top: 34px;
  left: 34px;
  width: 16px;
  height: 16px;
  display: none;
  z-index: 0;
}
.avatar {
  border-radius: 50px;
  width: 48px;
  height: 48px;
  justify-content: center;
  position: relative;
  background-image: url(/avatar1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.avatar,
.button4,
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button4 {
  justify-content: flex-end;
  gap: 16px;
}
.container {
  align-self: stretch;
  padding: 0 124px;
  justify-content: space-between;
  z-index: 0;
}
.icon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.iconPlaceholder {
  border-radius: 30px;
  background-color: #437ef7;
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  justify-content: center;
}
.academy,
.noMatterWhat {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.1px;
}
.academy {
  line-height: 24px;
  font-weight: 500;
}
.noMatterWhat {
  font-size: 14px;
  line-height: 20px;
  color: #b1ccfb;
}
.placeholderIcon8 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.text4 {
  position: relative;
  line-height: 22px;
  font-weight: 600;
}
.button5 {
  align-self: stretch;
  border-radius: 5px;
  overflow: hidden;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 15px;
  color: #574efa;
}
.container1,
.horizontalContainer,
.navbarDropdownList {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.container1 {
  flex: 1;
  flex-direction: column;
  gap: 4px;
}
.horizontalContainer,
.navbarDropdownList {
  flex-direction: row;
}
.navbarDropdownList {
  flex: 1;
  border-radius: 5px;
  padding: 10px;
  gap: 12px;
}
.horizontalContainer {
  width: 1280px;
  padding: 32px;
  box-sizing: border-box;
  gap: 32px;
}
.button9,
.ctaSection {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button9 {
  border-radius: 5px;
  overflow: hidden;
  justify-content: center;
  gap: 6px;
}
.ctaSection {
  align-self: stretch;
  background-color: #3971e7;
  padding: 24px 112px;
  justify-content: flex-start;
  gap: 32px;
  font-size: 15px;
}
.headerDropdownList,
.pageHeader {
  overflow: hidden;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
}
.headerDropdownList {
  margin: 0 !important;
  position: absolute;
  top: 86px;
  left: calc(50% - 720px);
  background-color: #2b63d9;
  border-top: 1px solid #648ef7;
  width: 1440px;
  display: none;
  justify-content: flex-start;
  z-index: 1;
  font-size: 16px;
  color: #fff;
}
.pageHeader {
  background-color: #fff;
  width: 1512px;
  display: flex;
  padding: 16px 0;
  justify-content: center;
  position: relative;
  gap: 16px;
  text-align: left;
  font-size: 14px;
  color: #000;
  font-family: Inter;
}
@media screen and (max-width: 420px) {
  .button4,
  .textInput {
    display: none;
  }
  .container {
    justify-content: center;
    flex-direction: column;
  }
}
